:root {
  font-family:'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(./assets/subverso-ac-8HrVclautyw-unsplash.jpg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  animation: fadeIn 1s ease-in-out;
  font-size: clamp(2rem, 5vw, 4rem);
}

/*.header{
 


}*/

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0e6797;
  color:#f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nxt-btn{
  background-color:#2f87b7;
  color: #f9f9f9;
}

.sub-btn{
  background-color:#6c2fb7;
  color: #f9f9f9;
}

.fin-btn{
  background-color: cadetblue;
  color:#f9f9f9;
}

.options{
  background-color: #3a4046a6;
  color:#f9f9f9;
  padding:20px 10px;
  border-radius: 50px;
  align-items: left;
}
.opt{
  background-color: rgb(25, 26, 27);
  border-radius: 100px;
  width:500px;
}

.opt:hover {
  background-color: #23452c;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Mobile view Styles */
@media (max-width: 750px) {
  body {
    flex-direction: column;
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  button {
    width: 100%;
    font-size: 0.9em;
    padding: 0.8em 0;
  }

  .nxt-btn, .fin-btn, .sub-btn {
    font-size: 0.9em;
    padding: 0.8em 0;
    width: 35%;
  }

  .options {
    padding: 15px 5px;
    border-radius: 20px;
  }

  .opt {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  
  a {
    font-size: 0.9em;
  }
}

